.md-nav--secondary > .md-nav__title {
  display: none;
}

.md-tag {
  display: inline-block;
  padding: 0.1em 0.5em;
  margin: 0.1em 0.15em;
  font-size: 0.65em;
  font-weight: 400;
  border-radius: 0.25em;
  background: transparent;
  color: var(--md-default-fg-color--light);
  border: 1px solid var(--md-default-fg-color--lightest);
  letter-spacing: 0.01em;
}

